(
  entities: {
    // UI Root
    0: (
      components: {
        "bevy_core::name::Name": (name: "UI Root"),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (x: 1.0, y: 0.0, z: 0.0,),
            y_axis: (x: 0.0, y: 1.0, z: 0.0,),
            z_axis: (x: 0.0, y: 0.0, z: 1.0,),
          ),
          translation: (x: 230.0, y: 250.5, z: 0.0,),
        )),
        "bevy_render::view::visibility::Visibility": Visible,
        "bevy_render::view::visibility::ComputedVisibility": (flags: ()),
        "bevy_transform::components::transform::Transform": (
          translation: (x: 239.0, y: 250.5, z: 0.0,),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (x: 1.0, y: 1.0, z: 1.0,),
        ),
        "bevy_ui::ui_node::Node": (
          calculated_size: (x: 478.0, y: 501.0,),
        ),
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Row,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Stretch,
          justify_content: SpaceAround,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Px(800.0),
            height: Px(450.0),
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
        "bevy_ui::focus::FocusPolicy": Block,
        "bevy_ui::ui_node::BackgroundColor": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 0.0,
        )),
        "bevy_hierarchy::components::children::Children": ([
          1, 
          3,
          ]),
      },
    ),
    // Sidebar
    1: (
      components: {
        "bevy_core::name::Name": (
          name: "Sidebar",
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 191.25,
            y: 250.5,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Visible,
        "bevy_render::view::visibility::ComputedVisibility": (flags: ()),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -47.75,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_ui::ui_node::Node": (
          calculated_size: (
            x: 382.5,
            y: 501.0,
          ),
        ),
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Column,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Stretch,
          justify_content: FlexStart,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 0.0,
          flex_basis: Auto,
          size: (
            width: Px(130.0),
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
        /*
        "bevy_text::text::Text": (
          sections: [
            (
              value: "THIS SHOULD BE ON THE LEEEFEFT",
              style: (
                font: (
                  id: AssetPathId(((27212313704434384), (6298619649789039366))),
                ),
                font_size: 10.0,
                color: Rgba(
                  red: 0.9,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
          ],
          alignment: Left,
          linebreak_behaviour: WordBoundary

        ),*/
        "bevy_ui::ui_node::CalculatedSize": (
          size: (
            width: Px(137.19511),
            height: Px(10.0),
          ),
        ),
        "bevy_ui::focus::FocusPolicy": Pass,
        "bevy_ui::ui_node::BackgroundColor": (Rgba(
          red: 0.5,
          green: 0.0,
          blue: 0.5,
          alpha: 1.0,
        )),
        "bevy_hierarchy::components::parent::Parent": (0),
      },
    ),
    // Right side - Content Pane
    3: (
      components: {
        "bevy_core::name::Name": (
          name: "Center Screen",
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 430.25,
            y: 250.5,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Visible,
        "bevy_render::view::visibility::ComputedVisibility": (flags: ()),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 191.25,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_ui::ui_node::Node": (
          calculated_size: (
            x: 95.5,
            y: 501.0,
          ),
        ),
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Column,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Stretch,
          justify_content: SpaceAround,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 1.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Auto,
          ),
          min_size: (
            width: Percent(20.0),
            height: Percent(100.0),
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
        /*
        "bevy_text::text::Text": (
          sections: [
            (
              value: "THIS SHOULD BE ON THE RIIIIIGHT",
              style: (
                font: (
                  id: AssetPathId(((27212313704434384), (6298619649789039366))),
                ),
                font_size: 10.0,
                color: Rgba(
                  red: 0.0,
                  green: 1.0,
                  blue: 0.8,
                  alpha: 1.0,
                ),
              ),
            ),
          ],
          alignment: (
            vertical: Top,
            horizontal: Left,
          ),
        ),
          */
        "bevy_ui::ui_node::CalculatedSize": (
          size: (
            width: Px(0.0),
            height: Px(0.0),
          ),
        ),
        "bevy_ui::focus::FocusPolicy": Pass,
        "bevy_hierarchy::components::parent::Parent": (0),
        /*
        "bevy_hierarchy::components::children::Children": ([
          (generation: 0, index: 3,),
          (generation: 0, index: 4,),
        ]),
        */
      },
    ),
    4: (
      components: {
        "bevy_core::name::Name": (
          name: "Extra Entity In Scene",
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 430.25,
            y: 250.5,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Visible,
        "bevy_render::view::visibility::ComputedVisibility": (flags: ()),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 191.25,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_ui::ui_node::Node": (
          calculated_size: (
            x: 95.5,
            y: 501.0,
          ),
        ),
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Column,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Stretch,
          justify_content: SpaceAround,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 1.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Auto,
          ),
          min_size: (
            width: Percent(20.0),
            height: Percent(100.0),
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      }
    )
    /*
    // Viewport
    3: (
      components: {
        "bevy_core::name::Name": (
          name: "Viewport Node",
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 430.25,
            y: 200.5,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: -50.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_ui::ui_node::Node": (
          calculated_size: (
            x: 95.5,
            y: 401.0,
          ),
        ),
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Row,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Stretch,
          justify_content: FlexStart,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 1.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
        "bevy_ui::focus::FocusPolicy": Block,
        "bevy_ui::ui_node::BackgroundColor": (Rgba(
          red: 0.2,
          green: 0.2,
          blue: 0.3,
          alpha: 0.5,
        )),
        "bevy_hierarchy::components::parent::Parent": ((
          generation: 0,
          index: 2,
        )),
      },
    ),
    // TOOLBAR 
    4: (
      components: {
        "bevy_core::name::Name": (
          name: "Tool bar",
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 430.25,
            y: 451.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 200.5,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_ui::ui_node::Node": (
          calculated_size: (
            x: 95.5,
            y: 100.0,
          ),
        ),
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Row,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Center,
          justify_content: FlexStart,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 0.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Px(100.0),
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
        "bevy_text::text::Text": (
          sections: [
            (
              value: "Hello there angel from my nightmare",
              style: (
                font: (
                  id: AssetPathId(((27212313704434384), (6298619649789039366))),
                ),
                font_size: 14.0,
                color: Rgba(
                  red: 0.58,
                  green: 0.55,
                  blue: 0.34,
                  alpha: 1.0,
                ),
              ),
            ),
          ],
          alignment: (
            vertical: Top,
            horizontal: Left,
          ),
        ),
        "bevy_ui::ui_node::CalculatedSize": (
          size: (
            width: Px(32.01219),
            height: Px(10.0),
          ),
        ),
        "bevy_ui::focus::FocusPolicy": Pass,
        "bevy_ui::ui_node::BackgroundColor": (Rgba(
          red: 0.0,
          green: 0.3,
          blue: 0.0,
          alpha: 1.0,
        )),
        "bevy_hierarchy::components::parent::Parent": ((
          generation: 0,
          index: 2,
        )),
      },
    ),
    */
  },
)